  <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}DECOR-PUB{% endblock %}</title>

{% block stylesheets %}
    {% stylesheets output="css/compiled/main.css" filter='cssrewrite'
    'css/bootstrap.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
  {% endblock %}
</head>

<body>
{% include "::nav-bar.html.twig" %}

  <div class="container">
    <div id="header" class="jumbotron">
      <table width="100%">
        <tr>
          <td width="70%">
      <h1><a href="{{ path('tg_prod_home')}}" class="no-style">Technograv</a></h1>
      <p>
        Panneau d'administration
      </p>
          </td>
          <div align="right">
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <td>{{ include('TGAdminBundle:Admin:recette.html.twig') }}</td>
          </div>
        {% endif %}
        </tr>
      </table> 
    </div>
      <div class="row">
        <div id="menu" class="col-md-2">
        {% if is_granted('ROLE_ADMIN') %}
          <h3>Paramètres</h3>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('tg_admin_types') }}">Types de projet</a></li>
            <li><a href="{{ path('tg_admin_etapes') }}">Etapes de projet</a></li>
            <li><a href="{{ path('tg_admin_stocks') }}">Gestion des stocks</a></li>
          </ul>

          <h3>Utilisateurs</h3>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('tg_admin_comptes') }}">Comptes</a></li>
            <li><a href="{{ path('tg_admin_droits') }}">Droits</a></li>
          </ul>
          {% endif %}

        </div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div id="content" class="col-md-10">
            {% for flashMessage in app.session.flashbag.get('info') %}
              <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flashMessage }}
              </div>
            {% endfor %}
          {% endif %}
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <hr>

  <footer align="center">
    <p>Technograv | Decor Pub © {{ 'now'|date('Y') }}</p>
  </footer>
</div>

{% block javascripts %}
  {% javascripts output='js/compiled/core.js'
    'js/bootstrap.js'
    'js/jquery.js' %}
    <script src="{{ asset_url }}" charset="utf-8"></script>
  {% endjavascripts %}
{% endblock %}

</body>
</html>
