<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}DECOR-PUB{% endblock %}</title>

  {% block stylesheets %}
    {% stylesheets output="css/compiled/main.css" filter='cssrewrite,less'
    'css/bootstrap.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" rel="stylesheets" type="text/css">
    {% endstylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/tgadmin/ckeditor/contents.css') }}" />
      <link rel="stylesheet" href="{{ asset('bundles/tgadmin/select2/css/select2.css') }}" />
      {% if form is defined %}{{ form_stylesheet(form) }}{% endif %}
  {% endblock %}
</head>

<body style="padding-top:50px;">
{% include "::nav-bar.html.twig" %}

  <div class="container">
      <div class="row">
        <div id="menu" class="col-md-2 hidden-xs hidden-sm">
        {% if is_granted('ROLE_STAGIAIRE') %}
          {#{ include("TGProdBundle:Projet:chat.html.twig") }#}
          {{ render(controller("TGProdBundle:Menu:menu")) }}
      <hr/>
        <h4>La boîte à outils</h4>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('tg_prod_home') }}">Liste des projets</a></li>
          <li><a href="{{ path('tg_client_home') }}">Liste des clients</a></li>
          <li><a href="{{ path('tg_contact_home') }}">Liste des contacts</a></li>
        </ul>          

        {% endif %} 
        </div>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div id="content" class="col-md-10">
            {% for flashMessage in app.session.flashbag.get('info') %}
              <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flashMessage }}
              </div>
            {% endfor %}
          {% endif %}
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <div class="container" align="center">
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <td>{{ include('TGAdminBundle:Admin:recette.html.twig') }}</td>
        {% endif %}
    </div>
    
    <hr>

  <footer align="center">
    <p>Technograv | Decor Pub © {{ 'now'|date('Y') }}</p>
  </footer>
</div>

{% block javascripts %}
  {% javascripts output='js/compiled/core.js'
    'js/jquery.js'
    'js/bootstrap.js'
    'js/jsperso.js'
     %}
    <script src="{{ asset_url }}" charset="utf-8"></script>
  {% endjavascripts %}
  <script src="{{ asset('bundles/tgadmin/ckeditor/ckeditor.js') }}"></script>
  <script src="{{ asset('bundles/tgadmin/select2/js/select2.min.js') }}"></script>
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
  {% if form is defined %}{{ form_javascript(form) }}{% endif %}
{% endblock %}

</body>
</html>
