{% extends "TGClientBundle::layout.html.twig" %}

{% block title %}
  Créer un client - {{ parent() }}
{% endblock %}

{% block tgclient_body %}

  <table>
    <tr>
    	<td width="80%">
    		<h2 >Créer un client</h2>
    	</td>
    	<td class='test' width="20%">
    		<a href="{{ path('tg_client_home') }}" class="btn btn-default">
    			Liste des clients <i class="glyphicon glyphicon-chevron-right"></i>
    		</a>
    	</td>
    </tr>
  </table>

<div class="well">
  {% if is_granted("ROLE_PAO") %}
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group grouped">
      {# Génération du label. #}
      <div class="required">
        {{ form_errors(form.name) }}
      {{ form_label(form.name, "Société", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      </div>
      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
      </div>

      <div>
        {{ form_errors(form.contact) }}
      {{ form_label(form.contact, "Nom du contact", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>    

    <div class="form-group">
      {{ form_errors(form.code) }}
      {{ form_label(form.code, "Code client", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      <div class="col-sm-4">
        {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
      </div>

      {{ form_errors(form.siret) }}
      {{ form_label(form.siret, "Siret", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      <div class="col-sm-4">
        {{ form_widget(form.siret, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>      

    <div class="form-group">
      {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.email) }}
      <div class="col-sm-4">
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
      </div>

      <div>
      {{ form_label(form.portable, "Portable", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.portable) }}
    </div>
      <div class="col-sm-4">
        {{ form_widget(form.portable, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

     <div class="form-group">
      <div class="required">
      {{ form_label(form.tel, "Téléphone", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.tel) }}
      <div class="col-sm-4">
        {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

      <div>
      {{ form_label(form.fax, "Fax", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.fax) }}
    </div>
      <div class="col-sm-4">
        {{ form_widget(form.fax, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group grouped">
      <div class="required">
      {{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      </div>
      {{ form_errors(form.adresse) }}
      <div class="col-sm-10">
        {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group required">
      {{ form_label(form.cp, "Code postal", {'label_attr': {'class': 'col-sm-2 control-label required'}}) }}
      <div class="col-sm-2">
        {{ form_widget(form.cp, {'attr': {'class': 'form-control'}}) }}
      </div>
      {{ form_errors(form.cp) }}
      {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
      
      {{ form_errors(form.ville) }}
      <div class="col-sm-3">
        {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
      </div>

      {{ form_label(form.pays, "Pays", {'label_attr': {'class': 'col-sm-1 control-label required'}}) }}

      {{ form_errors(form.pays) }}
      <div class="col-sm-3">
        {{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>      

    <div class="form-group grouped">
      {{ form_label(form.notes, "Informations complémentaires", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.notes) }}
      <div class="col-sm-10">
        {{ form_widget(form.notes, {'attr': {'class': 'ckeditor'}}) }}
      </div>
    </div>

         <div class="form-group">
      {{ form_label(form.logofile, "Logo", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.logofile )}}
      <div class="col-sm-10">
        {{ form_widget(form.logofile, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
      {{ form_label(form.logoinfos, "Infos sur le logo", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.logoinfos )}}
      <div class="col-sm-10">
        {{ form_widget(form.logoinfos, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="col-sm-11"></div>
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_rest(form) }}
  
  {{ form_end(form) }}
{% else %}
<h4>Vous n'avez pas les droits nécessaires pour créer un nouveau client client</h4>
{% endif %}
 </div>

{% endblock %}