{% extends "TGClientBundle::layout.html.twig" %}

{% block title %}
  Modifier un client - {{ parent() }}
{% endblock %}

{% block tgclient_body %}

<h2>Modifier un client</h2>

<div class="well">
  {% if is_granted("ROLE_ATELIER") %}
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <!-- Les erreurs générales du formulaire. -->
    {{ form_errors(form) }}

    <div class="form-group">
        <div class="required">
      {{ form_label(form.name, "Société", {'label_attr': {'class': 'col-sm-2 control-label required'}}) }}
      <div class="col-sm-3">
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
      </div>
      {{ form_errors(form.name) }}
    </div>
      {{ form_label(form.siret, "Siret", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
      
      {{ form_errors(form.siret) }}
      <div class="col-sm-3">
        {{ form_widget(form.siret, {'attr': {'class': 'form-control'}}) }}
      </div>

      {{ form_label(form.code, "Code", {'label_attr': {'class': 'col-sm-1 control-label required'}}) }}

      {{ form_errors(form.code) }}
      <div class="col-sm-2">
        {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      <div class="required">
      {{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      </div>
      {{ form_errors(form.adresse) }}
      <div class="col-sm-10">
        {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group required">
      {{ form_label(form.cp, "Code postal", {'label_attr': {'class': 'col-sm-2 control-label required'}}) }}
      <div class="col-sm-2">
        {{ form_widget(form.cp, {'attr': {'class': 'form-control'}}) }}
      </div>
      {{ form_errors(form.cp) }}
      {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
      
      {{ form_errors(form.ville) }}
      <div class="col-sm-3">
        {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
      </div>

      {{ form_label(form.pays, "Pays", {'label_attr': {'class': 'col-sm-1 control-label required'}}) }}

      {{ form_errors(form.pays) }}
      <div class="col-sm-3">
        {{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>      

    <div class="form-group grouped">
      {{ form_label(form.notes, "Informations complémentaires", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.notes) }}
      <div class="col-sm-10">
        {{ form_widget(form.notes, {'attr': {'class': 'ckeditor'}}) }}
      </div>
    </div>

  <div class="col-sm-11"></div>
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_rest(form) }}
  
  {{ form_end(form) }}
 </div>

{% else %}
<h4>Vous n'avez pas les droits nécessaire pour modifier un client.</h4>
{% endif %}

  <p>
    <a href="{{ path('tg_client_view', {'id': client.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au client
    </a>
  </p> 

{% endblock %}
