{% extends "TGClientBundle::layout.html.twig" %}

{% block title %}
  {{ client.name }} - {{ parent() }}
{% endblock %}

{% block tgclient_body %}

  <h2>{% if client.code != null %}[{{ client.code }}]{% endif %} {{ client.name|capitalize }}</h2>
  
  <p><i>
  {% if client.datemodif == null %}
  Créé le {{ client.dateadd|localizeddate('full', 'none') }} à {{ client.dateadd|date('G\\hi') }} par {{ client.useradd }}.
  {% elseif client.datemodif != null %}
  Modifié le {{ client.datemodif|localizeddate('full', 'none') }} à {{ client.maj|date('G\\hi') }} par {{ client.usermodif }}.
  {% endif %}
  </i></p>

  <p>
  <a href="{{ path('tg_client_home') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste</a>
    {% if is_granted("ROLE_ATELIER") %}
      <a href="{{ path('tg_client_edit', {'id': client.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i> Modifier le client</a>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
  <a href="{{ path('tg_client_delete', {'id': client.id}) }}" class="btn btn-danger">
    <i class="glyphicon glyphicon-trash"></i> Supprimer le client</a>
  {% endif %}
</p>

  <div class="well margin-right col-sm-3" style="min-height:238px;">
    <p>
      <strong>Adresse de la société :</strong></br>
      {{ client.adresse }}</br>
      {{ client.CP }} {{ client.ville }} ({{ client.pays }})
    </p>
    <p>
      {% if client.siret != null %}<strong>N° de Siret :</strong> {{ client.siret }}</br>{% endif %}
    </p>

    {% for logo in logoduclient %}
      <img class="img-rounded" width="100%" src="{{ (logo.webPath) | imagine_filter('logo') }}" alt="{{ logo.alt }}"/>
      </br>
      </br>
    {% endfor %}

    <a class="btn btn-default" href="#box-logo" role="button" data-toggle="modal" style="vertical-align:baseline;">
      {% if logoduclient %}<i class="glyphicon glyphicon-camera"></i> Modifier le logo
      {% else %}<i class="glyphicon glyphicon-camera"></i> Ajouter un logo
      {% endif %}
    </a>
  </div>

    <!-- Modal Fichier Logo -->
    <div id="box-logo" class="modal fade" keyboard="true" backdrop="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% if logoduclient %}Modifier le logo du client{% else %}Ajouter un logo au client{% endif %}</h4>
          </div>
          <div class="modal-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
              {{ form_label(form.file, "Fichier", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
              {{ form_errors(form.file) }}
              <div class="col-sm-7">
                {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group">
              {{ form_label(form.infos, "Informations", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
              {{ form_errors(form.infos) }}
              <div class="col-sm-7">
                {{ form_widget(form.infos, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>
            <div class="col-sm-8"></div>
            {{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>

<div class="well col-sm-8">
<div class="col-sm-12 no-padding margin-bottom">
<div class="col-sm-7 no-padding"><h3 class="margin-top-10">Contacts pour ce client</h3></div> {% if is_granted("ROLE_ATELIER") %}
  <div class="col-sm-5 no-padding" style="text-align:right">
  <a class="btn btn-primary" href="#box-contact" role="button" data-toggle="modal" style="vertical-align:baseline;">
      <i class="glyphicon glyphicon-plus"></i> Ajouter un contact au client</a>
  {% endif %}
  </div>
</div>

<div class="col-sm-12 no-padding">
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs no-padding col-sm-3 no-margin" role="tablist">
    {% for contact in contactdefaut %}
      <li role="presentation" class="active"><a href="#{{ contact.id }}" aria-controls="{{ contact.id }}" role="tab" data-toggle="tab">{{ contact.name|capitalize }}</a></li>
    {% endfor %}
    {% for contact in contactduclient %}
    <li role="presentation"><a href="#{{ contact.id }}" aria-controls="main" role="tab" data-toggle="tab">{{ contact.name|capitalize }}</a></li>
    {% endfor %}
  </ul>

  <div class="tab-content col-sm-9 no-padding">
      {% for contact in contactdefaut %}
      <div role="tabpanel" class="tab-pane fade in active col-sm-12" id="{{ contact.id }}">
        <p>Téléphone : {{ contact.tel }}</p>
        <p>Email : {{ contact.email }}</p>
        <p>Portable : {{ contact.portable }}</p>
        <p>Fax : {{ contact.fax }}</p>
        <a href="{{ path('edit_contact', { 'id':  contact.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Modifier le contact</a>
      </div>
    {% endfor %}
      {% for contact in contactduclient %}
        <div role="tabpanel" class="tab-pane fade col-sm-8" id="{{ contact.id }}">
        <p>Téléphone : {{ contact.tel }}</p>
        <p>Email : {{ contact.email }}</p>
        <p>Portable : {{ contact.portable }}</p>
        <p>Fax : {{ contact.fax }}</p>
        <a href="{{ path('edit_contact', { 'id':  contact.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Modifier le contact</a>
        </div>
      {% endfor %}
  </div>
</div>
</div>
</div>    

{% if client.notes != null %}
<div class="well col-sm-8 float-right">
    <h3 class="sticky">Notes</h3>
    <div class="ckeditor"><p>{{ client.notes|raw }}</p></div> 
</div>
{% endif %} 

     <!-- Modal Contact -->
    <div id="box-contact" class="modal fade" keyboard="true" backdrop="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Ajouter un contact au client</h4>
          </div>
          <div class="modal-body">
            {{ form_start(formcontact, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(formcontact) }}

            <div class="form-group">
              <div class="required">
              {{ form_label(formcontact.civilite, "Civilité", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            </div>
              {{ form_errors(formcontact.civilite) }}
              <div class="col-sm-7">
                {{ form_widget(formcontact.civilite, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group required">
              {{ form_label(formcontact.name, "Nom du contact", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
              {{ form_errors(formcontact.name) }}
              <div class="col-sm-7">
                {{ form_widget(formcontact.name, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group required">
              {{ form_label(formcontact.tel, "Téléphone", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
              {{ form_errors(formcontact.tel) }}
              <div class="col-sm-7">
                {{ form_widget(formcontact.tel, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group">
              {{ form_label(formcontact.portable, "Portable", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
              {{ form_errors(formcontact.portable) }}
              <div class="col-sm-7">
                {{ form_widget(formcontact.portable, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group">
              {{ form_label(formcontact.email, "Email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
              {{ form_errors(formcontact.email) }}
              <div class="col-sm-7">
                {{ form_widget(formcontact.email, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group">
              {{ form_label(formcontact.fax, "Fax", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
              {{ form_errors(formcontact.fax) }}
              <div class="col-sm-7">
                {{ form_widget(formcontact.fax, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group grouped">
              <div class="col-sm-3"></div>
              <div class="col-sm-1">
              {{ form_widget(formcontact.defaut, {'attr': {'class': 'checkbox'}}) }}
              </div>
              <div class="col-sm-5">
                {{ form_label(formcontact.defaut, "Définir comme contact par défaut", {'label_attr': {'class': 'control-label'}}) }}
              </div>
              {{ form_errors(formcontact.defaut) }}
            </div>
            <div class="col-sm-8"></div>
            {{ form_widget(formcontact.save, {'attr': {'class': 'btn btn-primary'}}) }}

            {{ form_rest(formcontact) }}
            {{ form_end(formcontact) }}
          </div>
        </div>
      </div>
    </div>
 
	<div class="col-sm-12 no-padding">
  <div class="col-sm-8 no-padding">
    {% if not client.projets.empty %}
    <h3>Historique des projets pour ce client</h3>
    {% endif %}
  </div>

  <div class="col-sm-4 no-padding margin-top" style="text-align:right"> 
    {% if is_granted("ROLE_ATELIER") %}
      <a href="{{ path('tg_prod_add', { 'client':  client.id}) }}" class="btn btn-primary">
      <i class="glyphicon glyphicon-plus"></i> Ajouter un projet pour ce client</a>
    {% endif %}

    {% if not client.projets.empty %}
  </div>

  <div class="col-sm-6 no-padding margin-bottom">
    <select class="triparcontact select-sm" style="width: 100%;">
      <option disabled="disabled" selected="selected" value>Trier les projets par contact</option>
      {% for contact in contactduclient %}
      <option value="{{ contact.client.id }}">{{ contact.name|capitalize }}</option>
      {% endfor %}
    </select>
  </div>


      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom du projet</th>
            <th class="text-center">Type</th>
            <th class="text-center">Publié par</th>
            <th class="text-center">Assigné à</th>
            <th class="text-center">Statut</th>
            <th class="text-center">Date de livraison</th>
          </tr>
        </thead>
        <tbody>
          {% for projet in projets %}
            <tr bgcolor={{ projet.type.couleur }}>
              <td width="6%">{{projet.id}}</td>
              <td width="14%"><a href="{{ path('tg_prod_view', {'id': projet.id}) }}">
              {{ projet.titre|capitalize }}</a></td>
              <td width="12%" align="center">{{ projet.type.name }}</td>
              <td width="10%" align="center">{{ projet.user }}</td>
              <td width="10%" align="center">{{ projet.assign }}</td>
              <td width="14%" align="center">{{ projet.etape.name }}</td>
              <td width="10%" align="center">{{ projet.delai|date('d/m/Y') }}</td>
            </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>
{% endif %}
</div> 
</div>

{% endblock %}
