{% extends "TGProdBundle::layout.html.twig" %}

{% block title %}
  Créer un projet - {{ parent() }}
{% endblock %}

{% block tgprod_body %}

  <h2>Créer un projet</h2>

<div class="well">
  {% if is_granted("ROLE_PAO") %}
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    <div class="form-group">
      {{ form_label(form.titre, "Titre du projet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      <div class="col-sm-4">
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
      </div>
      {{ form_errors(form.titre) }}
    </div>

    <div class="form-group">
      {{ form_label(form.client, "Pour le client", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {{ form_widget(form.client, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>    

    <div class="form-group">
      {{ form_label(form.type, "Type de projet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.contenu, "Consignes", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-9">
        {{ form_widget(form.contenu, {'attr': {'class': 'ckeditor'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.assign, "Assigné à", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {{ form_widget(form.assign, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>      

    <div class="form-group">
      {{ form_label(form.etape, "Etape du projet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {{ form_widget(form.etape, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    {#<div class="form-group">
      {{ form_label(form.published, "Publier maintenant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {{ form_widget(form.published, {'attr': {'class': 'checkbox'}}) }}
      </div>              
    </div>#}

  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  {{ form_rest(form) }}
  {{ form_end(form) }}

  {% else %}
  <h4>Vous n'avez pas les droits pour créer un nouveau projet</h4>
{% endif %}

</div>

{% endblock %}