{% extends "TGProdBundle::layout.html.twig" %}

{% block title %}
  Créer un projet - {{ parent() }}
{% endblock %}

{% block tgprod_body %}

<h2>Créer un projet</h2>
<div class="well">
  {% if is_granted("ROLE_ATELIER") %}
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    <div class="form-group required">
      {{ form_label(form.titre, "Titre du projet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      <div class="col-sm-4">
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
      </div>
      {{ form_errors(form.titre) }}
    </div>

    <div class="form-group required">
      {{ form_label(form.client, "Pour le client", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {{ form_widget(form.client, {'attr': {'class': 'form-control', 'onChange': 'setcontacts();'}}) }}
      </div>
    </div>

<script type="text/javascript">
function setcontacts(){
var id_select = $('#tg_prodbundle_projet_client').val();
  $.ajax({
    url: "{{ path('set_contacts') }}",
    type: 'POST',
    data: {'id': id_select},
    dataType: 'json',
    success: function(json){ // quand la réponse de la requete arrive
      $('#tg_prodbundle_projet_contact').html(''); // tu vides le select2
      $.each(json, function(index, value) { // et tu boucle sur la réponse contenu dans la variable passé à la function du success "json"
    $('#tg_prodbundle_projet_contact').append('<option value="'+ value.idC +'">'+ value.nameC +'</option>');
      });
    }
  });
}
</script>

        <div class="form-group required">
      {{ form_label(form.contact, "Contact", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.contact) }}
      <div class="col-sm-4">
        {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
      </div>
      <a class="btn btn-default" href="#box-contact" role="button" data-toggle="modal" style="vertical-align:baseline;">
      <i class="glyphicon glyphicon-plus"></i> Ajouter un nouveau contact</a>

    </div>

    <div class="form-group required">
      {{ form_label(form.type, "Type de projet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.delai, "Date de livraison", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.delai) }}
      <div class="col-sm-4">
        {{ form_widget(form.delai, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group required">
      {{ form_label(form.livraison, "Type de livraison", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.livraison) }}
      <div class="col-sm-4">
        {{ form_widget(form.livraison, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group required">
      {{ form_label(form.contenu, "Consignes", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-9">
        {{ form_widget(form.contenu, {'attr': {'class': 'ckeditor'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.docfile, "Pièce jointe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.docfile )}}
      <div class="col-sm-9">
        {{ form_widget(form.docfile, {'attr': {'class': 'form-control'}}) }}
    </div>
    </div>

    <div class="form-group required">
      {{ form_label(form.assign, "Assigné à", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {{ form_widget(form.assign, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>      

    <div class="form-group required">
      {{ form_label(form.etape, "Etape du projet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {{ form_widget(form.etape, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    {#<div class="form-group">
      {{ form_label(form.published, "Publier maintenant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {{ form_widget(form.published, {'attr': {'class': 'checkbox'}}) }}
      </div>              
    </div>#}

  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_rest(form) }}
  {{ form_end(form) }}

  {% else %}
  <h4>Vous n'avez pas les droits pour créer un nouveau projet</h4>
{% endif %}

</div>

<!-- Modal Contact -->
    <div id="box-contact" class="modal fade" keyboard="true" backdrop="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Ajouter un contact au client</h4>
          </div>
          <div class="modal-body">
            {{ form_start(formcontact, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(formcontact) }}

                <div class="form-group required">
                  {{ form_label(formcontact.client, "Pour le client", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                  {{ form_errors(formcontact.client) }}
                  <div class="col-sm-7">
                    {{ form_widget(formcontact.client, {'attr': {'class': 'form-control'}}) }}
                  </div>
                </div>

            <div class="form-group">
              <div class="required">
              {{ form_label(formcontact.civilite, "Civilité", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            </div>
              {{ form_errors(formcontact.civilite) }}
              <div class="col-sm-7">
                {{ form_widget(formcontact.civilite, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group required">
              {{ form_label(formcontact.name, "Nom du contact", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
              {{ form_errors(formcontact.name) }}
              <div class="col-sm-7">
                {{ form_widget(formcontact.name, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group required">
              {{ form_label(formcontact.tel, "Téléphone", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
              {{ form_errors(formcontact.tel) }}
              <div class="col-sm-7">
                {{ form_widget(formcontact.tel, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group">
              {{ form_label(formcontact.portable, "Portable", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
              {{ form_errors(formcontact.portable) }}
              <div class="col-sm-7">
                {{ form_widget(formcontact.portable, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group">
              {{ form_label(formcontact.email, "Email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
              {{ form_errors(formcontact.email) }}
              <div class="col-sm-7">
                {{ form_widget(formcontact.email, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group">
              {{ form_label(formcontact.fax, "Fax", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
              {{ form_errors(formcontact.fax) }}
              <div class="col-sm-7">
                {{ form_widget(formcontact.fax, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>

            <div class="form-group grouped">
              <div class="col-sm-3"></div>
              <div class="col-sm-1">
              {{ form_widget(formcontact.defaut, {'attr': {'class': 'checkbox'}}) }}
              </div>
              <div class="col-sm-5">
                {{ form_label(formcontact.defaut, "Définir comme contact par défaut", {'label_attr': {'class': 'control-label'}}) }}
              </div>
              {{ form_errors(formcontact.defaut) }}
            </div>
            <div class="col-sm-8"></div>
            {{ form_widget(formcontact.save, {'attr': {'class': 'btn btn-primary'}}) }}

            {{ form_rest(formcontact) }}
            {{ form_end(formcontact) }}
          </div>
        </div>
      </div>
    </div>

{% endblock %}
