{% extends "TGProdBundle::layout.html.twig" %}

{% block title %}
  Supprimer un projet - {{ parent() }}
{% endblock %}

{% block tgprod_body %}

  <h2>Supprimer un projet</h2><br/>
  <div class="well">

   {% if is_granted('ROLE_ADMIN') %}
  <p>
    Etes-vous certain de vouloir supprimer le projet "<strong>{{ projet.titre }}</strong>" et tous ses commentaires associés ?
  </p>

  <form action="{{ path('tg_prod_delete', {'id': projet.id}) }}" method="post">
    <a href="{{ path('tg_prod_view', {'id': projet.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au projet
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
  {% else %}
 
 <h4>Vous n'avez pas les droits suffisants pour supprimer un projet</h4>
 <a href="{{ path('tg_prod_view', {'id': projet.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au projet
    </a>

{% endif %}
</div>

{% endblock %}