{% extends "TGProdBundle::layout.html.twig" %}

{% block title %}
  Modifier un projet - {{ parent() }}
{% endblock %}

{% block tgprod_body %}

<h2>Modifier un projet</h2>

<div class="well">
 {% if is_granted('ROLE_COMPTA') %}
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    <div class="form-group">
      {{ form_label(form.titre, "Titre du projet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      <div class="col-sm-4">
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
      </div>
      {{ form_errors(form.titre) }}
    </div>  

    <div class="form-group">
      {{ form_label(form.type, "Type de projet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4" >
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.delai, "Date de livraison", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.delai) }}
      <div class="col-sm-4" >
        {{ form_widget(form.delai, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>   

    <div class="form-group">
      {{ form_label(form.contenu, "Consignes", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-9">
        {{ form_widget(form.contenu, {'attr': {'class': 'ckeditor'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.assign, "Assigné à", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {{ form_widget(form.assign, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>      

    <div class="form-group">
      {{ form_label(form.etape, "Etape du projet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {{ form_widget(form.etape, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_rest(form) }}
  {{ form_end(form) }}
{% else %}
<h4>Vous n'avez pas les droits pour éditer un projet</h4>
{% endif %}
</div>
  <p>
    <a href="{{ path('tg_prod_view', {'id': projet.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au projet
    </a>
  </p>

{% endblock %}
