{% extends "TGProdBundle::layout.html.twig" %}

{% block title %}
  {{ projet.titre }} - {{ parent() }}
{% endblock %}

{% block tgprod_body %}

<div class="col-sm-2 no-padding margin-top">
	<a href="{{ path('tg_prod_view', {'id': projet.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au projet</a>
</div>
<div class="col-sm-10">
<h3>Fichiers rattachés au projet "{{ projet.titre }}"</h3>
</div>

<script type="text/javascript">
                $('.tooltip-test').tooltip();
              </script>

{% if listdoc %}
<div class="col-sm-12 no-padding"><h4>Liste des pièces jointes :</h4>
<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
		<th class="col-sm-2">Type de fichier</th>
		<th class="col-sm-5">Nom de la pièce jointe</th>
		<th class="col-sm-3">Ajoutée le</th>
		<th class="col-sm-1">Ouvrir</th>
		<th class="col-sm-1">Télécharger</th>
    </tr>
  </thead>
  <tbody align="center">
		{% for documentjoint in listdoc %}
			<tr>
			<td><i class="glyphicon glyphicon-file"></i></td>
			<td>{{ documentjoint.alt|capitalize }}{% if is_granted("ROLE_ADMIN") %}
      <a href="{{ path('tg_prod_delete', { 'type': 'documentjoint', 'id': documentjoint.id}) }}"><i style="color:red" class="glyphicon glyphicon-remove"></i></a>
    {% endif %}</td>
			<td> <span class="tooltip-test" data-toggle="tooltip" data-placement="top" title="{{ documentjoint.date|date('G\\hi') }}">{{ documentjoint.date|localizeddate('full', 'none') }}</span></td>
			<td><a href="{{ asset(documentjoint.webPath) }}" target=_blank><i class="glyphicon glyphicon-eye-open"></i></a></td>
			<td><a href="{{ asset(documentjoint.webPath) }}" download="Piece_jointe{{ documentjoint.id }}-{{ documentjoint.projet.slug }}-{{ documentjoint.projet.client.slug }}"><i class="glyphicon glyphicon-download"></i></a></td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
	<br></div>
{% endif %}

{% if listcrea %}
<h4>Liste des compos :</h4>
  <table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
		<th class="col-sm-2">Type de fichier</th>
		<th class="col-sm-3">Nom de la compo</th>
		<th class="col-sm-2">Détail</th>
		<th class="col-sm-3">Ajoutée le</th>
		<th class="col-sm-1">Ouvrir</th>
		<th class="col-sm-1">Télécharger</th>
     </tr>
  </thead>
  <tbody align="center">
		{% for crea in listcrea %}
			<tr>
			<td><i class="glyphicon glyphicon-file"></i></td>
			<td>{{ crea.alt|capitalize }}{% if is_granted("ROLE_ADMIN") %}
      <a href="{{ path('tg_prod_delete', { 'type': 'crea', 'id': crea.id}) }}"><i style="color:red" class="glyphicon glyphicon-remove"></i></a>
    {% endif %}</td>
			<td>{{ crea.infos }}</td>
			<td><span class="tooltip-test" data-toggle="tooltip" data-placement="top" title="{{ crea.dateadd|date('G\\hi') }}">{{ crea.dateadd|localizeddate('full', 'none') }}</span></td>
			<td><a href="{{ asset(crea.webPath) }}" target=_blank><i class="glyphicon glyphicon-eye-open"></i></a></td>
			<td><a href="{{ asset(crea.webPath) }}" download="Compo{{ crea.id }}-{{ crea.projet.slug }}-{{ crea.projet.client.slug }}"><i class="glyphicon glyphicon-download"></i></a></td>
			</tr>
		{% endfor %}
		</table>
	<br>
{% endif %}

{% if listlogo %}
<h4>Liste des logos :</h4>
  <table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
		<th class="col-sm-2">Type de fichier</th>
		<th class="col-sm-3">Nom du logo</th>
		<th class="col-sm-2">Détail</th>
		<th class="col-sm-3">Ajouté le</th>
		<th class="col-sm-1">Ouvrir</th>
		<th class="col-sm-1">Télécharger</th>
     </tr>
  </thead>
  <tbody align="center">
		{% for logo in listlogo %}
			<tr>
			<td><i class="glyphicon glyphicon-file"></i></td>
			<td>{{ logo.alt|capitalize }}{% if is_granted("ROLE_ADMIN") %}
      <a href="{{ path('tg_prod_delete', { 'type': 'logo', 'id': logo.id}) }}"><i style="color:red" class="glyphicon glyphicon-remove"></i></a>
    {% endif %}</td>
			<td>{{ logo.infos }}</td>
			<td><span class="tooltip-test" data-toggle="tooltip" data-placement="top" title="{{ logo.date|date('G\\hi') }}">{{ logo.date|localizeddate('full', 'none') }}</span></td>
			<td><a href="{{ asset(logo.webPath) }}" target=_blank><i class="glyphicon glyphicon-eye-open"></i></a></td>
			<td><a href="{{ asset(logo.webPath) }}" download="Logo{{ logo.id }}-{{ logo.client.slug }}"><i class="glyphicon glyphicon-download"></i></a></td>
			</tr>
		{% endfor %}
		</table>
	<br>
{% endif %}


{% if listdevis %}
<h4>Liste des devis :</h4>
  <table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
		<th class="col-sm-2">Type de fichier</th>
		<th class="col-sm-3">Nom du devis</th>
		<th class="col-sm-2">Détail</th>
		<th class="col-sm-3">Ajouté le</th>
		<th class="col-sm-1">Ouvrir</th>
		<th class="col-sm-1">Télécharger</th>
     </tr>
  </thead>
  <tbody align="center">
		{% for devis in listdevis %}
			<tr>
			<td><i class="glyphicon glyphicon-file"></i></td>
			<td>{{ devis.alt|capitalize }}{% if is_granted("ROLE_ADMIN") %}
      <a href="{{ path('tg_prod_delete', { 'type': 'devis', 'id': devis.id}) }}"><i style="color:red" class="glyphicon glyphicon-remove"></i></a>
    {% endif %}</td>
			<td>{{ devis.infos }}</td>
			<td><span class="tooltip-test" data-toggle="tooltip" data-placement="top" title="{{ devis.dateadd|date('G\\hi') }}">{{ devis.dateadd|localizeddate('full', 'none') }}</span></td>
			<td><a href="{{ asset(devis.webPath) }}" target=_blank><i class="glyphicon glyphicon-eye-open"></i></a></td>
			<td><a href="{{ asset(devis.webPath) }}" download="Devis{{ devis.id }}-{{ devis.projet.slug }}-{{ devis.projet.client.slug }}"><i class="glyphicon glyphicon-download"></i></a></td>
			</tr>
		{% endfor %}
		</table>
	<br>
{% endif %}


{% if listfacture %}
<h4>Liste des factures :</h4>
  <table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
		<th class="col-sm-2">Type de fichier</th>
		<th class="col-sm-3">Nom de la facture</th>
		<th class="col-sm-2">Détail</th>
		<th class="col-sm-3">Ajoutée le</th>
		<th class="col-sm-1">Ouvrir</th>
		<th class="col-sm-1">Télécharger</th>
     </tr>
  </thead>
  	<tbody align="center">
		{% for facture in listfacture %}
			<tr>
			<td><i class="glyphicon glyphicon-file"></i></td>
			<td>{{ facture.alt|capitalize }}{% if is_granted("ROLE_ADMIN") %}
      <a href="{{ path('tg_prod_delete', { 'type': 'facture', 'id': facture.id}) }}"><i style="color:red" class="glyphicon glyphicon-remove"></i></a>
    {% endif %}</td>
			<td>{{ facture.infos }}</td>
			<td><span class="tooltip-test" data-toggle="tooltip" data-placement="top" title="{{ facture.dateadd|date('G\\hi') }}">{{ facture.dateadd|localizeddate('full', 'none') }}</span></td>
			<td><a href="{{ asset(facture.webPath) }}" target=_blank><i class="glyphicon glyphicon-eye-open"></i></a></td>
			<td><a href="{{ asset(facture.webPath) }}" download="Facture{{ facture.id }}-{{ facture.projet.slug }}-{{ facture.projet.client.slug }}"><i class="glyphicon glyphicon-download"></i></a></td>
			</tr>
		{% endfor %}
		</table>
	<br>
{% endif %}
</div>

{% endblock %}
