{% extends "TGProdBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block tgprod_body %}
{% if allDays is not empty %}
<div class="well no-padding no-padding-bottom col-sm-12" style="min-height:200px; bor">
  {% for item in calendar %}
    <div class="col-sm-2 no-padding" align="center">
      <p><strong>{{ item|localizeddate('none', 'none', null, null, 'EEEE d MMMM') }}</strong></p>
          {% for projet in projetsallDays %}
            {% if projet.delai|date('Y-m-d') == item %}
            <script type="text/javascript">
                $('.tooltip-test').tooltip();
              </script>
              <div class="rounded" style="background-color: {{ projet.assign.couleur }};"><a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: black;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>
              </div>
            {% endif %}
          {% endfor %}
    </div>
  {% endfor %}
{% endif %}
</div>

<div class="col-sm-6 no-padding"><h2>Liste des projets en cours ({{ listProjets.getTotalItemCount }})</h2></div>
{% if is_granted('ROLE_GERANT') %}
<div class="col-sm-2 no-padding margin-top-10"><h4><a href="{{ path('tg_prod_archives') }}" class="btn btn-default"><i class="glyphicon glyphicon-menu-right"></i> Projets archivés</a></h4></div>
<div class="col-sm-4 navigation">
    {{ knp_pagination_render(calendar) }}
</div>
{% endif %}

<div class="col-sm-12 no-padding">

{% if listProjets is not empty %}
<table class="table table-hover table-bordered">
  <thread>
    <tr>
      <th>#</th>
      <th>Nom du projet</th>
      <th>Type</th>
      <th>Publié par</th>
      <th>Pour le client</th>
      <th>{{ knp_pagination_sortable(listProjets, 'Assigné à', 'p.assign') }}</th>
      <th>{{ knp_pagination_sortable(listProjets, 'Etape', 'p.etape') }}</th>
      <th>{{ knp_pagination_sortable(listProjets, 'Livraison le', 'p.delai') }}</th>
      <th>Com</th>
    </tr>
  </thread>
  <tbody align="center">
    {% for projet in listProjets %}
    <tr bgcolor={{ projet.assign.couleur }}>
      <td>{{ projet.id }}</td>
      <td width="19%"><a href="{{ path('tg_prod_view', {'id': projet.id}) }}">
          {{ projet.titre|capitalize }}</td>
      <td width="14%">{{ projet.type.name }}</td>
      <td width="14%">{{ projet.user }}</td>
      <td width="10%"><a href="{{ path('tg_client_view', {'id': projet.client.id}) }}">{{ projet.Client.name|capitalize }}</td>
      <td width="14%">{{ projet.assign }}</td>
      <td width="14%">{{ projet.etape.name }}</td>
      <td width="20%">{% if projet.delai != null %}{{ projet.delai|date('d/m/Y') }}{% endif %}</td>
      <td>{{ projet.nbcommentaires }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
   {% else %}
      Pas de commande en cours pour le moment.<br/><br/>
      Vous pouvez utiliser la page dédiée pour <a href="{{ path('tg_prod_add') }}">créer un nouveau projet</a> ou choisir le client dans <a href="{{path("tg_client_home") }}">la liste</a>. 
{% endif %}

<div class="navigation">
    {{ knp_pagination_render(listProjets) }}
</div>

{% endblock %}
