{% extends "TGProdBundle::layout.html.twig" %}

{% block title %}
  Gestion des commandes - {{ parent() }}
{% endblock %}

{% block tgprod_body %}

<div class="well">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>#</th>
					{% for dimension in dimensionslist %}
						<th>{{ dimension.name }}</th>
					{% endfor %}
			</tr>
		</thead>
		<tbody>
				{% for stock in materiauxlist %}
					<tr>
						<td>{{ stock.name }}</td>
						{% set newArray = [] %}
						{% for tableau in besoins %}
							{% if tableau.stock.name == stock.name %}
								{% set newArray = newArray|merge([tableau]) %}
							{% endif %}
						{% endfor %}
						{% for values in newArray %}
   							{% for key,value in values %}
      							{% if key == "besoin" %}
      								{% if value %}
         								{% for besoin in value %}
            								<td>{{ besoin.nombre }}</td>
         								{% endfor %}
         							{% else %}
         								<td style="color:red">X</td>
         							{% endif %}
      							{% endif %}
   							{% endfor %}
						{% endfor %}
					</tr>
				{% endfor %}
	</tbody>
	</table>

<div class="row">
    <div style="text-align:center"><h4>Mettre à jour le tableau</h4>
    	{{ form_start(besoinform, {'attr': {'class': 'form-horizontal'}}) }}

    	{{ form_errors(besoinform) }}

    	<div class="form-group required">
    		{{ form_label(besoinform.stock, "Materiaux", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    		{{ form_errors(besoinform.stock) }}
      		<div class="col-sm-6">
        		{{ form_widget(besoinform.stock, {'attr': {'class': 'form-control', 'onChange': 'setdimensions();'}}) }}
      		</div>
      	</div>

<script type="text/javascript">
function setdimensions(){
var id_select = $('#tg_comptabundle_besoin_stock').val();
  $.ajax({
    url: "{{ path('set_dimensions') }}",
    type: 'POST',
    data: {'id': id_select},
    dataType: 'json',
    success: function(json){ // quand la réponse de la requete arrive
      $('#tg_comptabundle_besoin_dimension').html(''); // tu vides le select2
      $.each(json, function(index, value) { // et tu boucle sur la réponse contenu dans la variable passé à la function du success "json"
    $('#tg_comptabundle_besoin_dimension').append('<option value="'+ value.idD +'">'+ value.nameD +'</option>');
      });
    }
  });
}
</script>
      			
      <div class="form-group required">
      {{ form_label(besoinform.dimension, "Dimension", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(besoinform.dimension) }}
      <div class="col-sm-6">
        {{ form_widget(besoinform.dimension, {'attr': {'class': 'form-control'}}) }}
      </div>
      </div>

      <div class="form-group required">
      {{ form_label(besoinform.nombre, "Quantité", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(besoinform.nombre) }}
      <div class="col-sm-6">
        {{ form_widget(besoinform.nombre, {'attr': {'class': 'form-control'}}) }}
      </div>
      </div>

      <input type="submit" name="submitAction" value="besoin" class="btn btn-primary">
      <input type="submit" name="submitAction" value="commande" class="btn btn-primary">

        {{ form_rest(besoinform) }}
  		{{ form_end(besoinform) }}


    </div>

</div>

{% endblock %}
