{% extends "TGProdBundle::layout.html.twig" %}

{% block title %}
  {{ projet.titre }} - {{ parent() }}
{% endblock %}

{% block tgprod_body %}

<!-- Infos Projet -->
  <div class="col-sm-8 no-padding"><h2>{{ projet.titre }}</h2></div>
  <div class="col-sm-4 no-padding text-right"><h4 style="margin-top:30px;">Projet ID : #{{ projet.id }}</h4></div>

  <div class="col-sm-12 no-padding"><p><i>
    {% if projet.datemodif == null %}
      Créé le {{ projet.dateadd|localizeddate('full', 'none') }} à {{ projet.dateadd|date('G\\hi') }}
      {% elseif projet.datemodif != null %}
      Modifié le {{ projet.datemodif|localizeddate('full', 'none') }} à {{ projet.datemodif|date('G\\hi') }}
    {% endif %}
     par {{ projet.user }}{% if is_granted('ROLE_ATELIER') %} pour <a href="{{ path('tg_client_view', {'id': projet.client.id}) }}">{{projet.client.name}}</a></i>{% endif %}.</p>

  <p>
    <a href="{{ path('tg_prod_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
{% if is_granted('ROLE_COMPTA') %}
    <a href="{{ path('tg_prod_edit', {'id': projet.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier le projet
    </a>
{% endif %}
{% if is_granted('ROLE_ATELIER') %}
    <a href="{{ path('tg_prod_next', {'id': projet.id}) }}" class="btn btn-primary">
      <i class="glyphicon glyphicon-ok"></i>
      Avancer le projet
    </a>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('tg_prod_delete', {'id': projet.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer le projet
    </a>
{% endif %}
   </p>
</div>

<!-- Notes & commentaires Projet - Colonne de gauche -->
  <div class="well" style="margin-right:20px; width:64%; float:left;">
    <div>
      <div class="col-sm-6 sticky"><p class="sticky"><strong>Assigné à :</strong> {{ projet.assign }} 
      {# Ajouter un lien vers un tableau des projets qui lui sont assignés ? #}
      </p></div> 
      <div><p class="sticky"><strong>Statut :</strong> {{ projet.etape.name }}</p></div>
    </div>

    <hr>

  <div class="ckeditor">
    {{ projet.contenu|raw }}
  </div>

    {% if not projet.commentaires.empty %}
      <div class="ckeditor">
        {% for commentaire in listComments %}
            <p>-----------------</br></br>
            <script type="text/javascript">
                $('.tooltip-test').tooltip();
              </script>
              <i class="glyphicon glyphicon-comment tooltip-test" data-toggle="tooltip" data-placement="top" title="{{ commentaire.date|localizeddate('full', 'none') }} à {{ commentaire.date|date('G\\hi') }}"></i>
          <strong>{{ commentaire.user }}</strong> </br>
            {{ commentaire.contenu|raw }}</br>
            </p>
        {% endfor %}
      </div>
    {% endif %}

    <hr>
    {{ form_start(formcom, {'attr': {'class': 'form-horizontal required'}}) }}
        {{ form_errors(formcom) }}
           <div class="form-group">
            {{ form_label(formcom.contenu, "Commentaire", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            {{ form_errors(formcom.contenu) }}
          <div class="col-sm-9">
            {{ form_widget(formcom.contenu, {'attr': {'class': 'ckeditor'}}) }}
          </div>
          </div>
          <div class="col-sm-10"></div>
            {{ form_widget(formcom.save, {'attr': {'class': 'btn btn-primary', 'label': 'Commenter'}}) }} 
            {{ form_rest(formcom) }}
            {{ form_end(formcom) }}
          

    </div>


<!-- Fichiers & liaisons - Colonne de droite -->
  <div class="well col-sm-4">
    <h3 class="sticky">Liste des fichiers attachés</h3><br>
    
    {% if listdoc != null %}
    <p><strong>Pièces jointes :<br></strong>
    {% for documentjoint in listdoc %}
    <i class="tooltip-test" data-toggle="tooltip" data-placement="left" title="AJouté le {{ documentjoint.date|localizeddate('full', 'none') }} à {{ documentjoint.date|date('G\\hi') }}">{{ documentjoint.alt }}</i>
    <a href="{{ asset(documentjoint.webPath) }}" target=_blank><i class="glyphicon glyphicon-eye-open"></i></a>
    <a href="{{ asset(documentjoint.webPath) }}" download="Piece_jointe{{ documentjoint.id }}-{{ documentjoint.projet.slug }}-{{ documentjoint.projet.client.slug }}.{{ documentjoint.extention }}"><i class="glyphicon glyphicon-download"></i></a><br>
    {% endfor %}</p>
    {% endif %}
    
    {% for crea in listcrea %}
    <p><strong>Dernière compo :<br></strong>
    <i class="tooltip-test" data-toggle="tooltip" data-placement="left" title="AJouté le {{ crea.dateadd|localizeddate('full', 'none') }} à {{ crea.dateadd|date('G\\hi') }}">{{ crea.alt }}</i>
    <a href="{{ asset(crea.webPath) }}" target=_blank><i class="glyphicon glyphicon-eye-open"></i></a>
    <a href="{{ asset(crea.webPath) }}" download="Compo{{ crea.id }}-{{ crea.projet.slug }}-{{ crea.projet.client.slug }}.{{ crea.extention }}"><i class="glyphicon glyphicon-download"></i></a></p>
    {% endfor %}

    {% for devis in listdevis %}
    <p><strong>Devis :<br></strong>
    <i class="tooltip-test" data-toggle="tooltip" data-placement="left" title="AJouté le {{ devis.dateadd|localizeddate('full', 'none') }} à {{ devis.dateadd|date('G\\hi') }}">{{ devis.alt }}</i>
    <a href="{{ asset(devis.webPath) }}" target=_blank><i class="glyphicon glyphicon-eye-open"></i></a>
    <a href="{{ asset(devis.webPath) }}" download="Devis{{ devis.id }}-{{ devis.projet.slug }}-{{ devis.projet.client.slug }}.{{ devis.extention }}"><i class="glyphicon glyphicon-download"></i></a></p>
    {% endfor %}

    {% for facture in listfacture %}
    <p><strong>Facture :<br></strong>
    <i class="tooltip-test" data-toggle="tooltip" data-placement="left" title="AJouté le {{ facture.dateadd|localizeddate('full', 'none') }} à {{ facture.dateadd|date('G\\hi') }}">{{ facture.alt }}</i>
    <a href="{{ asset(facture.webPath) }}" target=_blank><i class="glyphicon glyphicon-eye-open"></i></a>
    <a href="{{ asset(facture.webPath) }}" download="facture{{ facture.id }}-{{ facture.projet.slug }}-{{ facture.projet.client.slug }}.{{ facture.extention }}"><i class="glyphicon glyphicon-download"></i></a></p>
    {% endfor %}


    {% if listdoc != null or listcrea != null or listdevis != null or listfacture != null or listlogo != null %}
    <a class="col-sm-12 no-padding margin-bottom" href="{{ path('tg_prod_fichier', {'id': projet.id}) }}"><i class="glyphicon glyphicon-folder-open"></i> Voir la totalité des fichiers</a>
    {% else %}
    <p>Aucun fichier attaché au projet</p>
    {% endif %}

     <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-plus"></i> Ajouter <span class="caret" style="margin-left: 10px;"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#box-doc" role="button" data-toggle="modal"><i class="glyphicon glyphicon-paperclip"></i> une pièce jointe</a></li>
          <li><a href="#box-crea" role="button" data-toggle="modal"><i class="glyphicon glyphicon-picture"></i> une compo</a></li>
          <li><a href="#box-devis" role="button" data-toggle="modal"><i class="glyphicon glyphicon-shopping-cart"></i> un devis</a></li>
          <li><a href="#box-facture" role="button" data-toggle="modal"><i class="glyphicon glyphicon-barcode"></i> une facture</a></li>
        </ul>
      </div>

        <!-- Modal Doc -->
        <div id="box-doc" class="modal fade" keyboard="true" backdrop="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ajouter une nouvelle pièce jointe</h4>
              </div>
              <div class="modal-body">
                {{ form_start(formdoc, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(formdoc) }}
              <div class="form-group">
                {{ form_label(formdoc.file, "Fichier", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                {{ form_errors(formdoc.file) }}
              <div class="col-sm-7">
                {{ form_widget(formdoc.file, {'attr': {'class': 'form-control'}}) }}
              </div>
              </div>
              <div class="col-sm-8"></div>
                {{ form_widget(formdoc.save, {'attr': {'class': 'btn btn-primary', 'label': 'Valider'}}) }}
                {{ form_rest(formdoc) }}
                {{ form_end(formdoc) }}
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Crea -->
        <div id="box-crea" class="modal fade" keyboard="true" backdrop="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ajouter une nouvelle compo</h4>
              </div>
              <div class="modal-body">
                {{ form_start(formcrea, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(formcrea) }}
              <div class="form-group">
                {{ form_label(formcrea.file, "Fichier", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                {{ form_errors(formcrea.file) }}
              <div class="col-sm-7">
                {{ form_widget(formcrea.file, {'attr': {'class': 'form-control'}}) }}
              </div>
              </div>
               <div class="form-group">
                {{ form_label(formcrea.infos, "Infos", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                {{ form_errors(formcrea.infos) }}
              <div class="col-sm-7">
                {{ form_widget(formcrea.infos, {'attr': {'class': 'form-control'}}) }}
              </div>
              </div>
              <div class="col-sm-8"></div>
                {{ form_widget(formcrea.save, {'attr': {'class': 'btn btn-primary', 'label': 'Valider'}}) }}
                {{ form_rest(formcrea) }}
                {{ form_end(formcrea) }}
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Devis -->
        <div id="box-devis" class="modal fade" keyboard="true" backdrop="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ajouter un nouveau devis</h4>
              </div>
              <div class="modal-body">
                  {{ form_start(formdevis, {'attr': {'class': 'form-horizontal'}}) }}
                  {{ form_errors(formdevis) }}
              <div class="form-group">
                {{ form_label(formdevis.file, "Fichier", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                {{ form_errors(formdevis.file) }}
              <div class="col-sm-7">
                {{ form_widget(formdevis.file, {'attr': {'class': 'form-control'}}) }}
              </div>
              </div>
               <div class="form-group">
                {{ form_label(formdevis.infos, "Infos", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                {{ form_errors(formdevis.infos) }}
              <div class="col-sm-7">
                {{ form_widget(formdevis.infos, {'attr': {'class': 'form-control'}}) }}
              </div>
              </div>
               <div class="form-group">
                {{ form_label(formdevis.numero, "Numéro", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                {{ form_errors(formdevis.numero) }}
              <div class="col-sm-7">
                {{ form_widget(formdevis.numero, {'attr': {'class': 'form-control'}}) }}
              </div>
              </div>
               <div class="form-group">
                {{ form_label(formdevis.prixHT, "Prix HT", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                {{ form_errors(formdevis.prixHT) }}
              <div class="col-sm-7">
                {{ form_widget(formdevis.prixHT, {'attr': {'class': 'form-control'}}) }}
              </div>
              </div>
               <div class="form-group">
                {{ form_label(formdevis.tva, "TVA", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                {{ form_errors(formdevis.tva) }}
              <div class="col-sm-7">
                {{ form_widget(formdevis.tva, {'attr': {'class': 'form-control'}}) }}
              </div>
              </div>
               <div class="form-group">
                {{ form_label(formdevis.prixttc, "Prix TTC", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                {{ form_errors(formdevis.prixttc) }}
              <div class="col-sm-7">
                {{ form_widget(formdevis.prixttc, {'attr': {'class': 'form-control'}}) }}
              </div>
              </div>
               <div class="form-group">
                {{ form_label(formdevis.acompte, "Acompte", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                {{ form_errors(formdevis.acompte) }}
              <div class="col-sm-7">
                {{ form_widget(formdevis.acompte, {'attr': {'class': 'form-control'}}) }}
              </div>
              </div>
              <div class="col-sm-8"></div>
                {{ form_widget(formdevis.save, {'attr': {'class': 'btn btn-primary', 'label': 'Valider'}}) }}
                {{ form_rest(formdevis) }}
                {{ form_end(formdevis) }}
              </div>
            </div>
          </div>
        </div>
 
        <!-- Modal Facture -->
        <div id="box-facture" class="modal fade" keyboard="true" backdrop="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ajouter une nouvelle facture</h4>
              </div>
              <div class="modal-body">
              {{ form_start(formfacture, {'attr': {'class': 'form-horizontal'}}) }}
              {{ form_errors(formfacture) }}
                <div class="form-group">
                  {{ form_label(formfacture.file, "Fichier", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                  {{ form_errors(formfacture.file) }}
                <div class="col-sm-7">
                  {{ form_widget(formfacture.file, {'attr': {'class': 'form-control'}}) }}
                </div>
                </div>
                 <div class="form-group">
                  {{ form_label(formfacture.infos, "Infos", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                  {{ form_errors(formfacture.infos) }}
                <div class="col-sm-7">
                  {{ form_widget(formfacture.infos, {'attr': {'class': 'form-control'}}) }}
                </div>
                </div>
                 <div class="form-group">
                  {{ form_label(formfacture.numero, "Numéro", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                  {{ form_errors(formfacture.numero) }}
                <div class="col-sm-7">
                  {{ form_widget(formfacture.numero, {'attr': {'class': 'form-control'}}) }}
                </div>
                </div>
                 <div class="form-group">
                  {{ form_label(formfacture.montantHT, "Montant HT", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                  {{ form_errors(formfacture.montantHT) }}
                <div class="col-sm-7">
                  {{ form_widget(formfacture.montantHT, {'attr': {'class': 'form-control'}}) }}
                </div>
                </div>
                 <div class="form-group">
                  {{ form_label(formfacture.tva, "TVA", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                  {{ form_errors(formfacture.tva) }}
                <div class="col-sm-7">
                  {{ form_widget(formfacture.tva, {'attr': {'class': 'form-control'}}) }}
                </div>
                </div>
                 <div class="form-group">
                  {{ form_label(formfacture.netapayer, "Net à payer", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                  {{ form_errors(formfacture.netapayer) }}
                <div class="col-sm-7">
                  {{ form_widget(formfacture.netapayer, {'attr': {'class': 'form-control'}}) }}
                </div>
                </div>
                <div class="col-sm-8"></div>
                {{ form_widget(formfacture.save, {'attr': {'class': 'btn btn-primary', 'label': 'Valider'}}) }}
                  {{ form_rest(formfacture) }}
                  {{ form_end(formfacture) }}
              </div>
            </div>
          </div>
        </div>

  </div>


    {% if listProjets %}
      <div class="well col-sm-4">
        <h3 class="sticky">Liaisons</h3>
            {% if is_granted('ROLE_PAO') %}

              {% if projet.projetparent == null %}
                <div>
                  {{ form_start(formlink, {'attr': {'class': 'form-vertical'}}) }}
                  {{ form_errors(formlink) }}
                    <div class="form-group">
                      <div class="col-sm-9 sticky">
                        {{ form_widget(formlink.projetparent, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div>
                  {{ form_widget(formlink.lier, {'attr': {'class': 'btn btn-default'}}) }}
                  {{ form_rest(formlink) }}
                  {{ form_end(formlink) }}
              {% else %}
                 <div>
                  <h4>Projet parent :</h4>
                    <div>
                      {{ form_start(formlink, {'attr': {'class': 'form-vertical'}}) }}
                      {{ form_errors(formlink) }}
                        <div>
                      <p><i class="glyphicon glyphicon-menu-right" style="margin-right:5px;"> </i><a href="{{ path('tg_prod_view', {'id': projet.projetparent.id}) }}"><strong>{{projet.projetparent.titre }}</strong></a></p>             
                      {{ form_widget(formlink.delier, {'attr': {'class': 'btn btn-default', 'label': 'Supprimer la liaison avec'}}) }}
                      </div>
                      {{ form_rest(formlink) }}
                      {{ form_end(formlink) }}
                      </p>
                    </div>
                      {% if listEnfants != null %}
                        <p>
                            Autres projets enfants :
                              <ul>
                                {% for projet in listEnfants %}
                                  <li><a href="{{ path('tg_prod_view', {'id': projet.id}) }}">{{ projet.titre }}</a></li>
                                {% endfor %}
                              </ul>
                        </p>
                      {% endif %}
                      {% if listdevisparent != null or listcreaparent != null %}
                        <h4>Fichiers du projet parent :</h4>
                          {% if listdevisparent %}
                            <strong>Devis :</strong>
                              <div>
                                {% for devis in listdevisparent %}
                                  <i class="tooltip-test" data-toggle="tooltip" data-placement="left" title="AJouté le {{ devis.dateadd|localizeddate('full', 'none') }} à {{ devis.dateadd|date('G\\hi') }}">{{ devis.alt }}</i>
                                  <a href="{{ asset(devis.webPath) }}" target=_blank> <i class="glyphicon glyphicon-eye-open"></i></a>
                                  <a href="{{ asset(devis.webPath) }}" download="Devis{{ devis.id }}-{{ devis.projet.slug }}-{{ devis.projet.client.slug }}.{{ devis.extention }}"> <i class="glyphicon glyphicon-download"></i></a><br>
                                {% endfor %}<br>
                              </div>
                          {% endif %}
                          {% if listcreaparent %}
                            <strong>Compos :</strong>
                              <div>
                                {% for crea in listcreaparent %}
                                  <p><i class="tooltip-test" data-toggle="tooltip" data-placement="left" title="Ajouté le {{ crea.dateadd|localizeddate('full', 'none') }} à {{ crea.dateadd|date('G\\hi') }}">{{ crea.alt }}</i>
                                  <a href="{{ asset(crea.webPath) }}" target=_blank> <i class="glyphicon glyphicon-eye-open"></i></a>
                                  <a href="{{ asset(crea.webPath) }}" download="Compo{{ crea.id }}-{{ crea.projet.slug }}-{{ crea.projet.client.slug }}.{{ crea.extention }}"> <i class="glyphicon glyphicon-download"></i></a><br>
                                {% endfor %}<br>
                              </div>
                          {% endif %}
                            <a align="right" href="{{ path('tg_prod_fichier', {'id': projetparent.id}) }}"><i class="glyphicon glyphicon-folder-open" style="margin-right:5px;"></i>Voir la totalité des fichiers du projet parent</a>
                      {% endif %}
                    {% endif %}

            {% else %}
              {% if projet.projetparent == null %}
                <div style="width:100%; float:left; margin-bottom:20px;">
                  <p>Pas de projet lié</p>
                </div>
              {% else %}
                <div style="width:100%; float:left; margin-bottom:20px;">
                  <h4>Projet parent :</h4>
                    <div class="col-sm-8" style="padding:0; height:35px; line-height:35px;">
                      <p style="vertical-align:middle; display:inline-block; line-height:normal; margin:0;">
                        <i class="glyphicon glyphicon-menu-right" style="margin-right:5px;"> </i><a href="{{ path('tg_prod_view', {'id': projet.projetparent.id}) }}"><strong>{{projet.projetparent.titre }}</strong></a>
                          {% if listEnfants != null %}
                            Projets enfants :
                              <ul>
                                {% for projet in listEnfants %}
                                  <li><a href="{{ path('tg_prod_view', {'id': projet.id}) }}">{{ projet.titre }}</a></li>
                                {% endfor %}
                              </ul>
                          {% endif %}
                      </p>
                    </div>
                </div>
                  {% if listdevisparent != null or listcreaparent != null %}
                    <h4>Fichiers du projet parent :</h4>
                      {% if listdevisparent %}
                        <strong>Devis :</strong>
                          <div>
                            {% for devis in listdevisparent %}
                              <i class="tooltip-test" data-toggle="tooltip" data-placement="left" title="AJouté le {{ devis.dateadd|localizeddate('full', 'none') }} à {{ devis.dateadd|date('G\\hi') }}">{{ devis.alt }}</i>
                              <a href="{{ asset(devis.webPath) }}" target=_blank> <i class="glyphicon glyphicon-eye-open"></i></a>
                              <a href="{{ asset(devis.webPath) }}" download="Devis{{ devis.id }}-{{ devis.projet.slug }}-{{ devis.projet.client.slug }}.{{ devis.extention }}"> <i class="glyphicon glyphicon-download"></i></a><br>
                            {% endfor %}<br>
                          </div>
                      {% endif %}
                      {% if listcreaparent %}
                        <strong>Compos :</strong>
                          <div>
                            {% for crea in listcreaparent %}
                              <p><i class="tooltip-test" data-toggle="tooltip" data-placement="left" title="Ajouté le {{ crea.dateadd|localizeddate('full', 'none') }} à {{ crea.dateadd|date('G\\hi') }}">{{ crea.alt }}</i>
                              <a href="{{ asset(crea.webPath) }}" target=_blank> <i class="glyphicon glyphicon-eye-open"></i></a>
                              <a href="{{ asset(crea.webPath) }}" download="Compo{{ crea.id }}-{{ crea.projet.slug }}-{{ crea.projet.client.slug }}.{{ crea.extention }}"> <i class="glyphicon glyphicon-download"></i></a><br>
                            {% endfor %}<br>
                          </div>
                      {% endif %}
                          <a align="right" href="{{ path('tg_prod_fichier', {'id': projetparent.id}) }}"><i class="glyphicon glyphicon-folder-open" style="margin-right:5px;"></i>Voir la totalité des fichiers du projet parent</a>

                  {% endif %}
            {% endif %}
      </div>
    {% endif %}
  {% endif %}

{% endblock %}
