{% extends "TGProdBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block tgprod_body %}

 <span id="texteJQ"></span>
<div>
{% if allDays is not empty %}
<div class="well no-padding no-padding-bottom col-sm-12" style="min-height:200px; bor">
  {% for item in calendar|slice(0, 6) %}
    <div class="col-sm-2 no-padding" align="center">
      <p><strong>{{ item|localizeddate('none', 'none', null, null, 'EEEE d MMMM') }}</strong></p>
          
          {# Affichage des projets avec .delai == p.avancement #}
          {% for projet in projetslivraisontoday %}
            {% if projet.delai|date('Y-m-d') == item %}
              
              <div class="rounded priority" style="background-color: {{ projet.assign.couleur }};">
                {% if projet.avancement > projet.delai %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: #B9121B;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>
                {% else %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: black;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>{% endif %}
              </div>
            {% endif %}
          {% endfor %}

          {# Affichage des projets par étapes #}
          {% for projet in projetsallDays %}
            {% if projet.avancement|date('Y-m-d') == item %}

              <div class="rounded projet" style="background-color: {{ projet.assign.couleur }};">
                {% if projet.avancement > projet.delai %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: #B9121B;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>
                {% else %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: black;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>{% endif %}
              </div>
            {% endif %}
          {% endfor %}
    
          {# Affichage des projets par date de livraison client #}
          {% for projet in projetslivraison %}
            {% if projet.delai|date('Y-m-d') == item %}
              
              <div class="rounded livraison">
                {% if projet.avancement > projet.delai %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.etape.name }} le {{ projet.avancement|localizeddate('none', 'none', null, null, 'd MMMM') }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: #B9121B;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>
                {% else %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.etape.name }} le {{ projet.avancement|localizeddate('none', 'none', null, null, 'd MMMM') }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: black;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>{% endif %}
              </div>
            {% endif %}
          {% endfor %}

    </div>
  {% endfor %}
</div>
<div class="well no-padding no-padding-bottom col-sm-12" style="min-height:200px; bor">
  {% for item in calendar|slice(6, 6) %}
    <div class="col-sm-2 no-padding" align="center">
      <p><strong>{{ item|localizeddate('none', 'none', null, null, 'EEEE d MMMM') }}</strong></p>
          
          {# Affichage des projets avec .delai == p.avancement #}
          {% for projet in projetslivraisontoday %}
            {% if projet.delai|date('Y-m-d') == item %}
              
              <div class="rounded priority" style="background-color: {{ projet.assign.couleur }};">
                {% if projet.avancement > projet.delai %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: #B9121B;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>
                {% else %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: black;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>{% endif %}
              </div>
            {% endif %}
          {% endfor %}

          {# Affichage des projets par étapes #}
          {% for projet in projetsallDays %}
            {% if projet.avancement|date('Y-m-d') == item %}

              <div class="rounded projet" style="background-color: {{ projet.assign.couleur }};">
                {% if projet.avancement > projet.delai %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: #B9121B;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>
                {% else %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: black;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>{% endif %}
              </div>
            {% endif %}
          {% endfor %}
    
          {# Affichage des projets par date de livraison client #}
          {% for projet in projetslivraison %}
            {% if projet.delai|date('Y-m-d') == item %}
              
              <div class="rounded livraison">
                {% if projet.avancement > projet.delai %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.etape.name }} le {{ projet.avancement|localizeddate('none', 'none', null, null, 'd MMMM') }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: #B9121B;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>
                {% else %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.etape.name }} le {{ projet.avancement|localizeddate('none', 'none', null, null, 'd MMMM') }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: black;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>{% endif %}
              </div>
            {% endif %}
          {% endfor %}

    </div>
  {% endfor %}
</div>

<div class="well no-padding no-padding-bottom col-sm-12" style="min-height:200px; bor">
  {% for item in calendar|slice(12, 6) %}
    <div class="col-sm-2 no-padding" align="center">
      <p><strong>{{ item|localizeddate('none', 'none', null, null, 'EEEE d MMMM') }}</strong></p>
          
          {# Affichage des projets avec .delai == p.avancement #}
          {% for projet in projetslivraisontoday %}
            {% if projet.delai|date('Y-m-d') == item %}
              
              <div class="rounded priority" style="background-color: {{ projet.assign.couleur }};">
                {% if projet.avancement > projet.delai %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: #B9121B;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>
                {% else %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: black;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>{% endif %}
              </div>
            {% endif %}
          {% endfor %}

          {# Affichage des projets par étapes #}
          {% for projet in projetsallDays %}
            {% if projet.avancement|date('Y-m-d') == item %}

              <div class="rounded projet" style="background-color: {{ projet.assign.couleur }};">
                {% if projet.avancement > projet.delai %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: #B9121B;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>
                {% else %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.client.name|capitalize }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: black;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>{% endif %}
              </div>
            {% endif %}
          {% endfor %}
    
          {# Affichage des projets par date de livraison client #}
          {% for projet in projetslivraison %}
            {% if projet.delai|date('Y-m-d') == item %}
              
              <div class="rounded livraison">
                {% if projet.avancement > projet.delai %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.etape.name }} le {{ projet.avancement|localizeddate('none', 'none', null, null, 'd MMMM') }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: #B9121B;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>
                {% else %}
                <a class="tooltip-test" data-toggle="tooltip" data-placement="right" title="{{ projet.etape.name }} le {{ projet.avancement|localizeddate('none', 'none', null, null, 'd MMMM') }}" href="{{ path('tg_prod_view', {'id': projet.id}) }}" style="text-decoration: none; color: black;" >{{ projet.titre|truncate(18, false, '...')|capitalize }}</a>{% endif %}
              </div>
            {% endif %}
          {% endfor %}

    </div>
  {% endfor %}
</div>
{% endif %}
</div>

{% endblock %}
